@import 'baseVar';

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

header {
    @include flex;
    width: 100%;
    height: 80px;
    background-color: gray;

    .logo-area {
        width: 80%;
        font-size: 35px;
        border-bottom: 1px solid;
    }

    .icon-area {
        img {
            width: 30px;
            height: 35px;
        }

        .icon-line {
            &:hover {
                transform: scale(1.2)
            }
        }

        .icon-fb {
            &:hover {
                transform: scale(1.2)
            }
        }

        .icon-ig {
            &:hover {
                transform: scale(1.2)
            }
        }

    }
}